<Router AppAssembly="@typeof(Program).Assembly">
  <Found Context="routeData">
    <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
  </Found>
  <NotFound>
    <LayoutView Layout="@typeof(MainLayout)">
      <PageTitle>404</PageTitle>
      <p role="alert">Przykro nam, nic tutaj nie ma.</p>
    </LayoutView>
  </NotFound>
</Router>
