@page "/transactions"
@using FinancesTracker.Client.Services
@using FinancesTracker.Shared.DTOs
@using FinancesTracker.Shared.Constants
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@inject cTransactionService TransactionService
@inject cCategoryService CategoryService
@inject IJSRuntime JSRuntime

<MudContainer MaxWidth="MaxWidth.False" Class="pa-0">
  <MudGrid>
    <MudItem xs="12">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Transakcje finansowe</h2>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ms-2" OnClick="AddTransaction">
          <MudIcon Icon="@Icons.Material.Filled.Add" /> Dodaj transakcję
        </MudButton>
      </div>
    </MudItem>
@* 
    <MudTable Items="Transactions.Items" Hover="true" Dense="true" Bordered="true" Striped="true">
      <HeaderContent>
        <MudTh>Data</MudTh>
        <MudTh>Kwota</MudTh>
        <MudTh>Opis</MudTh>
      </HeaderContent>
      <RowTemplate>
        <MudTd>@context.Date.ToShortDateString()</MudTd>
        <MudTd>@context.Amount.ToString("C")</MudTd>
        <MudTd>@context.Description</MudTd>
      </RowTemplate>
    </MudTable>
 *@
    </MudGrid>
    </MudContainer>

@code {

  PagedResult<TransactionDto> Transactions = new();

  protected override async Task OnInitializedAsync() {
    //ładuje kategorie przy starcie komponentu
    //  await LoadCategories();

    //ładuje transakcje przy starcie komponentu
   // await LoadTransactions();

  }


  private async Task LoadTransactions() {

    // mIsLoading = true;
    // StateHasChanged();

    Console.WriteLine("TEST");

    try {
      var pResp = await TransactionService.GetTransactionsAsync(new TransactionFilterDto());
      if (!pResp.Success) {
        // Console.WriteLine($"błąd podczas ładowania transakcji: {BuildErrorMessage(pResp)}");
        Transactions = new PagedResult<TransactionDto>();
      } else {
        Transactions = pResp.Data ?? new PagedResult<TransactionDto>();
      }
    } catch (Exception pEx) {
      Console.WriteLine($"błąd podczas ładowania transakcji: {pEx.Message}");
      Transactions = new PagedResult<TransactionDto>();
    } finally {
      // mIsLoading = false;
      StateHasChanged();
    }

  }


  private async Task AddTransaction(MouseEventArgs args) {

    await JSRuntime.InvokeVoidAsync("alert", "Dodaj transakcję - funkcja w budowie!");

  }
}
